#!/usr/bin/make -f

# Pull in dpkg-buildflags so hardening flags propagate to cc.
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install \
	    DESTDIR=$(CURDIR)/debian/dsmr-localfirst \
	    PREFIX=/var/qmail
